# .gitignore para backend e frontend

# Node.js
node_modules/

frontend_corrigido/

# Diretórios de build do frontend
/dist/
/build/

# Arquivos de dependências temporárias do frontend
/package-lock.json
/yarn.lock

# Logs
*.log
*.log.*

# Arquivos de IDEs e editores de código
.vscode/
.idea/

# Arquivos de ambiente
.env

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos gerados pelo sistema operacional e editores
*.swp
*~

# Diretórios do frontend que podem ser gerados por bundlers como Webpack, Vite, etc.
.cache/
public/

# Arquivos de configuração do frontend
*.eslintcache
